<main>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-7">
                <div class="card shadow-lg border-0 rounded-lg mt-5">
                    <div class="card-body">
                        <form id="newcat" action="/admin/addcategory" method="POST">
                            <div class="form-row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="small mb-1">
                                            <h4>New Category</h4>
                                        </label>
                                        <input type="text" class="form-control py-4" name="newcategory" id="catnew"
                                            required>
                                        <br>
                                        <input type="submit" id class="btn btn-primary" value="add category">
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        {{#if categories}}
        <div class="row justify-content-center">
            <div class="col-lg-7">
                <div class="card shadow-lg border-0 rounded-lg mt-5">
                    <div class="card-body">
                        <div class="col-md-12">
                            <table class="table table-striped table-bordered" style="width:100%">
                                <tr align="center">
                                    <th>#Categories</th>
                                    <th>#offer</th>
                                    <th>#Edit</th>
                                </tr>
                                {{#each categories}}
                                <tr align="center">
                                    <td>
                                        {{this.newcategory}} &nbsp;&nbsp;&nbsp;
                                    </td>
                                    <td>
                                        {{#if this.Offer}}
                                        <a href="/admin/removeoffer/{{this.newcategory}}" class="btn btn-danger">Remove
                                            Offer</a>
                                        {{else}}
                                        <a href="/admin/addoffer/{{this.newcategory}}" class="btn btn-success">Add
                                            offer</a>
                                        {{/if}}
                                    </td>
                                    <td>
                                        <a href="/admin/deletecategory/{{this.newcategory}}"
                                            onclick="return confirm('Do you want to delete {{this.newcategory}} category ?')"
                                            class="btn btn-danger">Delete</a>
                                    </td>
                                </tr>
                                {{/each}}
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {{/if}}
    </div>
</main>

{{!--
<script>

    let category = document.getElementById('catnew').value;
    console.log('category');


    $.ajax({
        url: '/admin/addcategory',
        method: 'post',
        data:
    })
</script> --}}