<ol class="breadcrumb mb-4">
    <li class="breadcrumb-item in-active">Add Offer To  &nbsp;<a class="btn btn-success" href="/admin/products">Product</a>&nbsp;<a
            class="btn btn-primary" href="/admin/addcategory">Category</a></li>
</ol>

<section><br>

    <table id="example" class="table table-striped table-bordered" style="width:100%">
        <thead>
            <tr align="center">
                <th>#no</th>
                <th>Item</th>
                <th>Image</th>
                <th>Category</th>
                <th>Offer</th>
                <th>Price</th>
                <th>Edit</th>
            </tr>
        </thead>
        <tbody>
            {{#each offproducts}}
            <tr align="center">
                <td class="index">{{@index}}</td>
                <td>{{this.Name}}</td>
                <td>
                    <img style="width: 50px; height:50px;" src="/images/products/{{this._id}}1.jpg" alt="">
                    <img style="width: 50px; height:50px;" src="/images/products/{{this._id}}2.jpg" alt="">
                    <img style="width: 50px; height:50px;" src="/images/products/{{this._id}}3.jpg" alt="">    
                </td>
                <td>{{this.Category}}</td>
                <td>{{this.Offer}}%</td>
                <td>{{this.Price}}</td>
                <td >
                    <a href="/admin/editproduct/{{this._id}}" class="btn btn-success">Edit</a>
                </td>
            </tr>
            {{/each}}
        </tbody>
    </table>
    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script src="https://cdn.datatables.net/1.10.24/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.24/js/dataTables.bootstrap4.min.js"></script>

    <script>
        $(document).ready(function () {
            $('#example').DataTable();
        });
    </script>
</section>