<script src="../js/addTo.js"></script>
<section id="slider">
	<!--slider-->
	<div class="container">
		<div class="row">
			<div class="col-sm-12">
				<div id="slider-carousel" class="carousel slide" data-ride="carousel">
					<ol class="carousel-indicators">
						{{#each offproducts}}
						{{#if @first}}
						<li data-target="#slider-carousel" data-slide-to="{{@index}}" class="active"></li>
						{{else}}
						<li data-target="#slider-carousel" data-slide-to="{{@index}}"></li>
						{{/if}}
						{{/each}}
					</ol>

					<div class="carousel-inner">
						{{#each offproducts}}
						{{#if @first}}
						<div class="item active">
							<div class="col-sm-6">
								<h1><span>P</span>attern special offer</h1>
								<h2>{{this.Name}}</h2>
								<p>
									<b style="color: green; font-size: 25px">{{this.Offer}}% off</b>
								</p>
								<p>category: {{this.Category}}</p>

								<a type="button" href="/productdetails/{{this._id}}" class="btn btn-default get">Get it now</a>

							</div>
							<div class="col-sm-6">
								<img src="/images/products/{{this._id}}1.jpg" class="girl img-responsive" alt="" />
							</div>
						</div>
						{{else}}
						<div class="item ">
							<div class="col-sm-6">
								<h1><span>P</span>attern special offer</h1>
								<h2>{{this.Name}}</h2>
								<p>
									<b style="color: green; font-size: 25px">{{this.Offer}}% off</b>
								</p>
								<p>category: {{this.Category}}</p>

								<a type="button" class="btn btn-default get" href="/productdetails/{{this._id}}">Get it now</a>
							</div>
							<div class="col-sm-6">
								<img src="/images/products/{{this._id}}1.jpg" class="girl img-responsive" alt="" />
							</div>
						</div>
						{{/if}}
						{{/each}}
					</div>
					<a href="#slider-carousel" class="left control-carousel hidden-xs" data-slide="prev">
						<i class="fa fa-angle-left"></i>
					</a>
					<a href="#slider-carousel" class="right control-carousel hidden-xs" data-slide="next">
						<i class="fa fa-angle-right"></i>
					</a>
				</div>

			</div>
		</div>
	</div>
</section>
<!--/slider-->
<div class="container">
	<div class="row">
		<div class="col-md-12">
			<div class="category-tab">
				<!--category-tab-->
				<div class="col-sm-12">
					<ul class="nav nav-tabs">
						<li class="active" style="cursor: pointer;"><a href="#allproducts" data-toggle="tab">All products</a></li>
						<li style="cursor: pointer;"><a href="#mens" data-toggle="tab">Mens</a></li>
						<li style="cursor: pointer;"><a href="#ladies" data-toggle="tab">Ladies</a></li>
						<li style="cursor: pointer;"><a href="#boys" data-toggle="tab">Boys</a></li>
						<li style="cursor: pointer;"><a href="#girls" data-toggle="tab">Girls</a></li>
						
					</ul>
				</div>
				<div class="tab-content">
					<div class="tab-pane fade active in" id="allproducts">
					{{#each products}}
					<div class="col-sm-3 ">
						<div class="product-image-wrapper" style="height: 250px; width: 250px;">
							<div class="single-products">
								<div class="productinfo text-center">
									<img src="/images/products/{{this._id}}1.jpg" style="width:100px; height:auto"
										alt="Products main image" />
									<h2>{{this.Name}}</h2>
									<p>Rs.{{this.Price}}
									</p>
									{{#if this.Offer}}
									<p>{{this.Offer}}% off
										<s>Rs.{{this.ActualPrice}}</s>
									</p>
									{{/if}}
								</div>
								<div class="product-overlay">
									<div class="overlay-content">
										<h2>{{this.Name}}</h2>
										<p>Rs.{{this.Price}}</p>
										<a href="/productdetails/{{this._id}}"
											class="btn btn-default add-to-cart"><i></i>View Details</a>
									</div>
								</div>
							</div>
							<div class="choose justify-content-center">
								<ul class="nav nav-pills nav-justified" style="background-color: white;">
									<li><a onclick="addToWishlist('{{this._id}}')"><i class="fa fa-heart"></i></a></li>
									<li><a onclick="addToCart('{{this._id}}')"><i class="fa fa-shopping-cart"></i></a>
									</li>
								</ul>
							</div>
						</div>
					</div>
					{{/each}}
					</div>
					<div class="tab-pane fade in" id="mens">
					{{#each mens}}
					<div class="col-sm-3 ">
						<div class="product-image-wrapper" style="height: 250px; width: 250px;">
							<div class="single-products">
								<div class="productinfo text-center">
									<img src="/images/products/{{this._id}}1.jpg" style="width:100px; height:auto"
										alt="Products main image" />
									<h2>{{this.Name}}</h2>
									<p>Rs.{{this.Price}}
									</p>
									{{#if this.Offer}}
									<p>{{this.Offer}}% off
										<s>Rs.{{this.ActualPrice}}</s>
									</p>
									{{/if}}
								</div>
								<div class="product-overlay">
									<div class="overlay-content">
										<h2>{{this.Name}}</h2>
										<p>Rs.{{this.Price}}</p>
										<a href="/productdetails/{{this._id}}"
											class="btn btn-default add-to-cart"><i></i>View Details</a>
									</div>
								</div>
							</div>
							<div class="choose justify-content-center">
								<ul class="nav nav-pills nav-justified" style="background-color: white;">
									<li><a onclick="addToWishlist('{{this._id}}')"><i class="fa fa-heart"></i></a></li>
									<li><a onclick="addToCart('{{this._id}}')"><i class="fa fa-shopping-cart"></i></a>
									</li>
								</ul>
							</div>
						</div>
					</div>
					{{/each}}
					</div>
					<div class="tab-pane fade in" id="ladies">
					{{#each ladies}}
					<div class="col-sm-3 ">
						<div class="product-image-wrapper" style="height: 250px; width: 250px;">
							<div class="single-products">
								<div class="productinfo text-center">
									<img src="/images/products/{{this._id}}1.jpg" style="width:100px; height:auto"
										alt="Products main image" />
									<h2>{{this.Name}}</h2>
									<p>Rs.{{this.Price}}
									</p>
									{{#if this.Offer}}
									<p>{{this.Offer}}% off
										<s>Rs.{{this.ActualPrice}}</s>
									</p>
									{{/if}}
								</div>
								<div class="product-overlay">
									<div class="overlay-content">
										<h2>{{this.Name}}</h2>
										<p>Rs.{{this.Price}}</p>
										<a href="/productdetails/{{this._id}}"
											class="btn btn-default add-to-cart"><i></i>View Details</a>
									</div>
								</div>
							</div>
							<div class="choose justify-content-center">
								<ul class="nav nav-pills nav-justified" style="background-color: white;">
									<li><a onclick="addToWishlist('{{this._id}}')"><i class="fa fa-heart"></i></a></li>
									<li><a onclick="addToCart('{{this._id}}')"><i class="fa fa-shopping-cart"></i></a>
									</li>
								</ul>
							</div>
						</div>
					</div>
					{{/each}}
					</div>
					<div class="tab-pane fade in" id="boys">
					{{#each boys}}
					<div class="col-sm-3 ">
						<div class="product-image-wrapper" style="height: 250px; width: 250px;">
							<div class="single-products">
								<div class="productinfo text-center">
									<img src="/images/products/{{this._id}}1.jpg" style="width:100px; height:auto"
										alt="Products main image" />
									<h2>{{this.Name}}</h2>
									<p>Rs.{{this.Price}}
									</p>
									{{#if this.Offer}}
									<p>{{this.Offer}}% off
										<s>Rs.{{this.ActualPrice}}</s>
									</p>
									{{/if}}
								</div>
								<div class="product-overlay">
									<div class="overlay-content">
										<h2>{{this.Name}}</h2>
										<p>Rs.{{this.Price}}</p>
										<a href="/productdetails/{{this._id}}"
											class="btn btn-default add-to-cart"><i></i>View Details</a>
									</div>
								</div>
							</div>
							<div class="choose justify-content-center">
								<ul class="nav nav-pills nav-justified" style="background-color: white;">
									<li><a onclick="addToWishlist('{{this._id}}')"><i class="fa fa-heart"></i></a></li>
									<li><a onclick="addToCart('{{this._id}}')"><i class="fa fa-shopping-cart"></i></a>
									</li>
								</ul>
							</div>
						</div>
					</div>
					{{/each}}
					</div>
					<div class="tab-pane fade in" id="girls">
					{{#each girls}}
					<div class="col-sm-3 ">
						<div class="product-image-wrapper" style="height: 250px; width: 250px;">
							<div class="single-products">
								<div class="productinfo text-center">
									<img src="/images/products/{{this._id}}1.jpg" style="width:100px; height:auto"
										alt="Products main image" />
									<h2>{{this.Name}}</h2>
									<p>Rs.{{this.Price}}
									</p>
									{{#if this.Offer}}
									<p>{{this.Offer}}% off
										<s>Rs.{{this.ActualPrice}}</s>
									</p>
									{{/if}}
								</div>
								<div class="product-overlay">
									<div class="overlay-content">
										<h2>{{this.Name}}</h2>
										<p>Rs.{{this.Price}}</p>
										<a href="/productdetails/{{this._id}}"
											class="btn btn-default add-to-cart"><i></i>View Details</a>
									</div>
								</div>
							</div>
							<div class="choose justify-content-center">
								<ul class="nav nav-pills nav-justified" style="background-color: white;">
									<li><a onclick="addToWishlist('{{this._id}}')"><i class="fa fa-heart"></i></a></li>
									<li><a onclick="addToCart('{{this._id}}')"><i class="fa fa-shopping-cart"></i></a>
									</li>
								</ul>
							</div>
						</div>
					</div>
					{{/each}}
					</div>
				</div>
			</div>
			<!--/category-tab-->
		</div>
	</div>
</div>
