<style>
    /**
  Default Markup
**/


.container {
  max-width: 900px;
  margin: 0 auto;
}


/**
  Component
**/

label {
    width: 100%;
}

.card-input-element {
    display: none;
}

.card-input {
    margin: 10px;
    padding: 00px;
}

.card-input:hover {
    cursor: pointer;
}

.card-input-element:checked + .card-input {
     box-shadow: 0 0 1px 1px #ff7403;
 }

</style>
<section>
    <div class="container mt-5">
        <form action="" id="placeorder">
            <div class="row">
                <div class="col-md-5">
                    <h3>Enter Delivery Address</h3><br>
                    <div>
                        <input type="text" class="form-control" name="address" id="address" placeholder="address.."><br>

                        <div class="input-group">
                            {{!-- <span style="color: red;" id="pinError" hidden>Please check Pincode</span> --}}
                            <input type="text" class="form-control" name="pincode" id="pincode" placeholder="pincode.."
                                autocomplete="new-password"><br>

                            <span class="input-group-btn" style="width:50px;"></span>

                            <input type="button" class="btn btn-warning input-md" value="check pincode "
                                onclick="getPincode()" />
                        </div>
                        <br>
                        <div class="input-group">

                            <input type="text" class="form-control" name="city" id="city" value="city.."
                                readonly='true'><br>

                            <span class="input-group-btn" style="width:50px;"></span>

                            <input type="text" name="state" id="state" class="form-control" value="state.."
                                readonly='true' />
                        </div>
                        <br>
                        <input type="text" class="form-control" name="mobile" id="mobile" placeholder="phone.."><br>
                        {{!-- <input type="text" name="userid" id="" value="{{user}}" hidden><br> --}}
                        <div class="form-check">
                            <input type="checkbox" name="saveaddress" id="saveaddress" value="checked">&nbsp;<b>save
                                address</b>
                        </div>
                    </div>
                </div>
                <div class="card col-md-6 mt-5 pull-right">
                    <div class="container">
                        <h5>Total Amount: Rs.{{total}}</h5>
                        <hr>
                        <div class="payment">
                            <h4>Payment method</h4>
                            <label for="">
                                <input type="radio" name="paymentmethod" value="COD" checked>COD
                            </label><br>
                            <label for="">
                                <input type="radio" name="paymentmethod" value="Razorpay">Razorpay
                            </label><br>
                            <label for="">
                                <input type="radio" name="paymentmethod" value="Paypal">Paypal
                            </label><br>
                            <button name="addAddress" class="btn btn-warning float-end" type="submit">checkout</button>
                        </div>
                    </div>
                </div>
            </div>
            {{!-- {{#if add}}
            <div class="container">

                <h1>Saved Address</h1>

                <div class="row">
                    <div class="col-md-4 col-lg-4 col-sm-4">
                        {{#each add}}
                        <label>
                            <input type="radio" name="address" class="card-input-element" />

                            <div class="panel panel-default card-input">
                                <div class="panel-body">
                                    {{this.address}},{{this.city}},
                                {{this.state}},{{this.pin}}
                                </div>
                            </div>
                        </label>
                        {{/each}}
                    </div>
                </div>

            </div>
            {{!-- {{/if}} --}}
        </form>
    </div>
</section>
<script src="https://checkout.razorpay.com/v1/checkout.js"></script>
<script src="../../js/jquery.js"></script>
<script>

    function getPincode() {
        $.ajax({
            url: '/pincheck',
            method: 'post',
            data: {
                pin: $('#pincode').val(),
            },

            success: (response) => {
                console.log("pin",response);
                if (response.pin != false) {
                    $('#city').val(response.city);
                    $('#state').val(response.state);

                } else {
                    $('#pincode').val('')
                }
            }
        })
    }

    $("#placeorder").submit((e) => {
        e.preventDefault()

            $('#placeorder').validate({
                rules: {
                    address: {
                        required: true,
                        maxlength: 50
                    },
                    pincode: {
                        required: true,
                        maxlength: 6,
                        minlength: 6
                    },
                    mobile: {
                        required: true,
                        number: true,
                        minlength: 10,
                        maxlength: 10

                    }
                },
                messages: {
                    address: {
                        required: "Please enter your address",
                        maxlength: "Please enter address within 20 characters"
                    },
                    pincode: {
                        required: "Please enter your pincode",
                        maxlength: "Pincode must be 6 digits",
                        minlength: "Pincode must be 6 digits"
                    },
                    mobile: {
                        required: "Please enter your number",
                        number: "numbers are only allowed to enter",
                        minlength: "Please enter 10 digit number",
                        maxlength: "Please enter 10 digit number"
                    }
                }
            });

            $.ajax({
                url: '/placeorder',
                method: 'post',
                data: $('#placeorder').serialize(),
                success: (response) => {
                    console.log(response);
                    if (response.paySuccess) {
                        location.href = '/ordersuccess'
                    } else if (response.razorpay) {
                        razorpayPayment(response)
                    }else if(response.paypal){
                        location.replace(response.paypal)
                    }
                }
            })


        function razorpayPayment(order) {
            var options = {
                "key": "rzp_test_A5ly4nFMDwjEgH", // Enter the Key ID generated from the Dashboard
                "amount": order.response.amount, // Amount is in currency subunits. Default currency is INR. Hence, 50000 refers to 50000 paise
                "currency": "INR",
                "name": "e-Kom",
                "description": "Test Transaction",
                "image": "../../home/logo.png",
                "order_id": order.id, //This is a sample Order ID. Pass the `id` obtained in the response of Step 1
                "handler": function (response) {
                    verifyPayment(response, order)
                },
                "prefill": {
                    "name": "Mohammed Dhilshad",
                    "email": "dhilshad799@gmail.com",
                    "contact": "+917994550151"
                },
                "notes": {
                    "address": "Razorpay Corporate Office"
                },
                "theme": {
                    "color": "#b8180d"
                }
            };
            var rzp1 = new Razorpay(options);
            rzp1.open();
        }
        function verifyPayment(payment, order) {
            $.ajax({
                url: '/verifypayment',
                data: {
                    payment,
                    order
                },
                method: 'post',
                success: (response) => {
                    if (response.status) {
                        location.href = '/ordersuccess'
                    } else {
                        alert("payment failed")
                    }
                }
            })
        }
    })

</script>