<link rel="stylesheet" href="https://unpkg.com/xzoom/dist/xzoom.css">
<section>
    <div class="container">
        <div class="row">
            <div class="col-md-3 pl-5">
            <div class="xzoom-container">
            <img class="xzoom" id="xzoom-default"
              src="/images/products/{{product._id}}1.jpg"
              xoriginal="/images/products/{{product._id}}1.jpg" />
            <div class="xzoom-thumbs">
              <a
                href="/images/products/{{product._id}}1.jpg"><img
                  class="xzoom-gallery" width="80"
                  src="/images/products/{{product._id}}1.jpg"
                  xpreview="/images/products/{{product._id}}1.jpg"></a>

              <a
                href="/images/products/{{product._id}}2.jpg">
                <img
                  class="xzoom-gallery" width="80"
                  src="/images/products/{{product._id}}2.jpg"></a>

              <a
                href="/images/products/{{product._id}}3.jpg">
                <img
                  class="xzoom-gallery" width="80"
                  src="/images/products/{{product._id}}3.jpg"></a>

            </div>
          </div>
            </div>
            <div class="col-md-7 pt-5">
                <div class="product-details">
                    <!--product-details-->
                    <div>
                        <div class="product-information">
                            <!--/product-information-->
                            <h2>{{product.Name}}</h2>
                            <span>
                                <span>Rs.{{product.Price}}</span>
                                <a type="button" onclick="addToCart('{{product._id}}')" class="btn btn-warning cart">
                                    <i class="fa fa-shopping-cart"></i>
                                    cart
                                </a>
                                <a type="button" onclick="addToWishlist('{{product._id}}')"
                                    class="btn btn-warning cart">
                                    <i class="fa fa-heart"></i>
                                    wishlist
                                </a>
                            </span>
                            <p><b>Availability:</b>Available
                            </p>
                            <p><b>Description:</b>{{product.Description}}</p>
                        </div>
                        <!--/product-information-->
                    </div>
                </div>
                <!--/product-details-->
            </div>
        </div>
        <div class="recommended_items mt-5">
            <!--recommended_items-->
            <h2 class="title text-center">Related items</h2>
                {{#each catproducts}}
                <div class="col-sm-3">
                    <div class="product-image-wrapper">
                        <div class="single-products">
                            <div class="productinfo text-center">
                                <img src="/images/products/{{this._id}}1.jpg" style="width: 90px; height:auto"
                                    alt="Products main image" />
                                <h2>{{this.Name}}</h2>
                                <p>Rs.{{this.Price}}</p>

                            </div>
                            <div class="product-overlay">
                                <div class="overlay-content">
                                    <h2>{{this.Name}}</h2>
                                    <p>Rs.{{this.Price}}</p>
                                    <a href="/productdetails/{{this._id}}"
                                        class="btn btn-default add-to-cart"><i></i>View Details</a>
                                </div>
                            </div>
                        </div>
                        <div class="choose">
                            <ul class="nav nav-pills nav-justified">
                                <li><a onclick="addToWishlist('{{this._id}}')"><i class="fa fa-heart"></i></a></li>
                                <li><a onclick="addToCart('{{this._id}}')"><i class="fa fa-shopping-cart"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                {{/each}}
        </div>
        <!--/recommended_items-->
    </div>
</section>
<script src="../js/addTo.js"></script>
	<script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
<script src="https://unpkg.com/xzoom/dist/xzoom.min.js"></script>
<script src="https://hammerjs.github.io/dist/hammer.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/foundation/6.3.1/js/foundation.min.js"></script>
