<script src="../js/addTo.js"></script>
<section id="cart_items">
	<div class="container">
		<div class="breadcrumbs">
			<ol class="breadcrumb">
				<li><a href="#">Home</a></li>
				<li class="active">Wishlist</li>
			</ol>
		</div>
		{{#if wish}}
		<div class="table-responsive cart_info">
			<table class="table table-condensed">
				<thead>
					<tr class="cart_menu">
						<td class="image">Item</td>
						<td class="description">Description</td>
						<td class="price">Price</td>
						<td class="Description">Actions</td>
						<td class="Description">edit</td>
					</tr>
				</thead>
				<tbody>
					{{#each wish}}
					<tr>
						<td class="cart_product">
							<img style="width:50px; height:auto;" src="/images/products/{{this.item}}1.jpg" alt="">
						</td>
						<td class="cart_description">
							<h4><a href="/productdetails/{{this.item}}">{{this.product.Name}}</a></h4>
						</td>
						<td class="cart_price">
							<p>{{this.product.Price}}</p>
						</td>
						<td class="cart_delete" >
							<a class="cart_quantity_delete" style="cursor: pointer; background-color:#fe980f"
								onclick="addToCart('{{this.item}}')"><i class="fa fa-shopping-cart">Add to cart</i></a>
						</td>
						<td class="">
							<a class="btn btn-warning" href="/deletewish/{{this.item}}"><i
									class="fa fa-trash-o"></i></a>
						</td>
					</tr>
					{{/each}}
				</tbody>
			</table>
		</div>
		{{else}}
		<div class="content-404 text-center">
			<img src="/images/404/404.png" class="img-responsive" alt="" />
			<h1><b>OPPS!</b> We Couldn’t Find any items in wishlist</h1>
			<p>Start adding new items!
			</p>
			<h2><a href="/">Go back to home</a></h2>
		</div>
		<script>
			window.setTimeout(function () {

				window.location.href = "/";

			}, 2000);

		</script>
		{{/if}}
	</div>
</section>
<!--/#wishlist_items-->